
<!--
    <button mat-button routerLink="residents"><mat-icon>person</mat-icon>Residentes</button>

    <button mat-button routerLink="administrators"><mat-icon>supervisor_account</mat-icon>Administradores</button>

    <button mat-button routerLink="guards"><mat-icon>security</mat-icon>Guardias</button>
----------------------------------------------------------------------------------------------------------------
<mat-sidenav-container>

    <mat-sidenav opened="true" mode="side">
        <button mat-button routerLink="residents"><mat-icon>person</mat-icon>Residentes</button>

        <button mat-button routerLink="administrators"><mat-icon>supervisor_account</mat-icon>Administradores</button>

        <button mat-button routerLink="guards"><mat-icon>security</mat-icon>Guardias</button>

    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>


</mat-sidenav-container-->
